.cable{
    background-color: black;
    height: 90px;
    width: 10px;
}

.container {
    background-color: black;
    height: 180px;
    width: 80px;
}

.light{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.selected.red{
    box-shadow: 0px 0px 40px 20px red;
}

.selected.yellow{
    box-shadow: 0px 0px 40px 20px yellow;
}

.selected.green{
    box-shadow: 0px 0px 40px 20px green;
}